.w {
    width: 1200px;
    margin: 0 auto;
}
.top_nav {
    height: 30px;
    background-color: #f1f1f1;
    font-size: 12px;
    color: #666;
}
.top_nav .w {
    line-height: 30px;
}
.top_left {
    float: left;
}
.top_nav a {
    color: #c81623;
}
.top_right {
    float: right;
}
.chevron_down {
    font-family: 'icomoon';
}
.mid_header {
    height: 55px;
    margin-top: 27px;
}
.left_pic {
    float: left;
}
.mid_search {
    float: left;
    margin-left: 130px;
}
.mid_search input {
    height: 35px;
    width: 457px;
    padding-left: 15px;
    vertical-align: bottom;
    border: 2px solid #b1191a;
    font-size: 14px;
    color: #8c8c8c;
}
.mid_search button {
    width: 85px;
    height: 35px;
    background-color: #b1191a;
    font-size: 16px;
    color: #f6eaea;
    border: 0;
}
.mid_search .part2 {
    margin-top: 5px;
}
.mid_search ul li {
    float: left;
    margin: 0 15px;
}
.mid_search ul li:first-child a{
    color: #c81623;
}
.mid_header .trolley {
    position: relative;
    float: right;
    width: 140px;
    height: 35px;
    margin-right: 65px;
    padding-left: 20px;
    line-height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}
.trolley .trolley_car {
    font-family: 'icomoon';
    color: #b1191a;
    vertical-align: middle;
}
.trolley .next {
    font-family: 'icomoon';
    vertical-align: middle;
}
.num_tag {
    position: absolute;
    top: -5px;
    right: 28px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50% 50% 50% 0;
    background-color: #e60012;
    color: #fff;
    text-align: center;
}
.bottom_nav {
    height: 45px;
    line-height: 45px;
    margin-top: 25px;
    border-bottom: 2px solid #7a2d2d;
    font-size: 16px;
}
.bottom_nav .w>a {
    float: left;
    padding: 0 55px;
    background-color: #b1191a;
    color: #fff;
}
.bottom_nav ul {
    float: left;
    margin-left: 15px;
}
.bottom_nav ul li {
    float: left;
    padding: 0 25px;
    color: #333333;
    font-weight: 500;
}
.bottom_nav ul li:last-child {
    font-size: 14px;
}